<div class="row">
  <div class="col p-3 bg-primary text-white" routerLink="/display">Display</div>
  <div class="col p-3 bg-secondary text-white" routerLink="/text">Text</div>
  <div class="col p-3 bg-warning text-white" routerLink="/table">Table</div>
  <div class="col p-3 bg-danger text-white" routerLink="/alert">Alert</div>
  <div class="col p-3 bg-info text-white" routerLink="/button">Button</div>
  <div class="col p-3 bg-success text-white" routerLink="/nav">Nav</div>
  <div class="col p-3 bg-primary text-white" routerLink="/menu">Menu</div>
</div>
<br>
<router-outlet></router-outlet>
