<div class="container">
  <h2>Breadcrumb</h2>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Photo</a> </li>
    <li class="breadcrumb-item"><a href="#">Rome</a> </li>
  </ul>
</div>

<div class="container mt-3">
  <h2>Button outline</h2>
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <button type="button" class="btn btn-outline-danger">Danger</button>
  <button type="button" class="btn bg-info">Info</button>
</div>
<div class="container d-grid gap-3">
  <button type="button" class="btn btn-warning btn-block ">Full width button</button>
  <button type="button" class="btn btn-secondary btn-block" disabled>Full width button</button>
  <button type="button" class="btn btn-outline-success btn-block">Full width button</button>
</div>
<div class="container">
  <button type="button" class="btn btn-primary">
    <span class="spinner-border spinner-border-sm"></span>
    spinner button
  </button>
</div>
<br>
<div class="container">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Sumsung</button>
    <button type="button" class="btn btn-primary">Oppo</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Apple</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">i-phone</a></li>
        <li><a class="dropdown-item" href="#">i-pad</a></li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h2>Badges</h2>
  <h3>Example heading <span class="badge bg-warning">New</span> </h3>
</div><br>
<div class="container">
  <h2>Pill badges</h2>
  <span class="badge rounded-pill bg-primary">Primary</span>
  <span class="badge rounded-pill bg-secondary">Secondary</span>
  <span class="badge rounded-pill bg-success">Success</span>
</div><br>
<div class="container d-grid gap-3">
  <h2>Basic progress bar</h2>
  <div class="progress">
    <div class="progress-bar" style="width: 60%"></div>
  </div>
  <div class="progress text-success">
    <div class="progress-bar" style="width: 70%"></div>
  </div>
</div><br>
<div class="container">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a> </li>
    <li class="page-item"><a class="page-link" href="#">1</a> </li>
    <li class="page-item"><a class="page-link" href="#">2</a> </li>
    <li class="page-item"><a class="page-link" href="#">Next</a> </li>
  </ul>
</div>
<div class="container">
  <ul class="pagination pagination-lg">
    <li class="page-item"><a class="page-link" href="#">Previous</a> </li>
    <li class="page-item"><a class="page-link" href="#">1</a> </li>
    <li class="page-item"><a class="page-link" href="#">2</a> </li>
    <li class="page-item"><a class="page-link" href="#">Next</a> </li>
  </ul>
</div>
<div class="container">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a> </li>
    <li class="page-item"><a class="page-link" href="#">1</a> </li>
    <li class="page-item"><a class="page-link" href="#">2</a> </li>
    <li class="page-item"><a class="page-link" href="#">Next</a> </li>
  </ul>
</div>
<div class="container">
  <h2>List Group</h2>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Action item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Success item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Warning item</a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Inbox
      <span class="badge bg-primary rounded-pill">12</span>
    </a>
  </div>
</div><br>
<div class="container">
  <h2>Dropdown</h2>
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs->
    Dropdown button
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Link 1</a> </li>
      <li><a class="dropdown-item" href="#">Link 2</a> </li>
    </ul>
  </button>
</div><br>
<div class="container">
  <h2>Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#demo" >Simple collapsible</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div><br>
