<div class="container-fluid">
  <p class="text-start">text start</p>
  <p class="text-center">text center</p>
  <p class="text-end">text end</p>
</div>
<div class="container-fluid bg-body-tertiary">
  <p><b>List inline</b></p>
  <ul class="list-inline">
    <li class="list-inline-item">Coffee</li>
    <li class="list-inline-item">Milk</li>
    <li class="list-inline-item">Tea</li>
  </ul>
</div>
<div class="container">
  <p class="text-muted">text muted</p>
  <p class="text-primary">text primary</p>
  <p class="text-success">text success</p>
  <p class="text-info">text info</p>
  <p class="text-warning">text warning</p>
  <p class="text-danger">text danger</p>
  <p class="text-secondary">text secondary</p>
  <p class="text-dark">text dark</p>
  <p class="text-body">text body</p>
  <p class="text-light">text light</p>
</div>
<div class="container">
  <div class="bg-primary p-1" >primary</div>
  <div class="bg-success p-1">success</div>
  <div class="bg-info p-1">info</div>
  <div class="bg-warning p-1">warning</div>
  <div class="bg-danger p-1">danger</div>
  <div class="bg-secondary p-1">secondary</div>
  <div class="bg-dark p-1">dark</div>
  <div class="bg-light p-1">light</div>
</div>
<br>
<div class="container">
  <h2> Card image</h2>
  <div class="card" style="width: 400px">
    <img class="card-img-top" src="assets/2048px-Emblem-person-blue.svg.png" alt="Card image" style="width: 100%">
    <div class="card-body">
      <h4 class="card-title">Jo Jo</h4>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
