<div class="container mt-3">
<h2>Alert Links <i class="bi bi-search" style="color:black;font-size: 10px"></i></h2>
  <div class="alert alert-info alert-dismissible" >
    <strong>Info!</strong> You should <a href="#" class="alert-link">read this message</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <div class="alert alert-secondary alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Secondary!</strong> Indicates a slightly less important action.
  </div>
</div>

