<div class="container">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container class.</p>
  <p>The .container class provides a responsive fixed width container.</p>
  <p>Resize the browser window to see that the container width will change at different breakpoints.</p>
</div>

<div class="row">
  <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
  <div class="col p-3 bg-dark text-white">col</div>
</div>
<div>
  <p class="h1">h1</p>
  <p class="display-1">display 1</p>
  <p class="display-2">display 2</p>
  <p class="display-3">display 3</p>
  <p class="display-4">display 4</p>
  <p class="display-5">display 5</p>
  <p class="display-6">display 6</p>
</div>
